body{
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h1{
    color: #333;
}

#menu-container{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
}

.card{
    background:white;
    width:220px;
    padding:15px;
    border-radius:10px;
    box-shadow:0px 2px 5px gray;
}

button{
    background:green;
    color:white;
    border:none;
    padding:10px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:darkgreen;
}

input{
    display:block;
    width:300px;
    padding:10px;
    margin:10px 0;
}

#cart-container{
    background:white;
    padding:15px;
    border-radius:10px;
}